.modal {
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  background: rgba(0, 0, 0, 0.12);
  transition: all 500ms ease;
  z-index: 1;
}

.modal .container {
  width: 500px;
  height: auto;
  margin: auto;
  background-color: #fff;
  box-shadow: 1px 7px 25px rgba(0, 0, 0, 0.05);
  transition: all 500ms ease;
  position: relative;
}

.container .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: salmon;
  padding: 20px;
}

.close-icon {
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 30px;
  height: 30px;
  background: none;
  transition: 0.3s ease all;
  border-radius: 5px;
  color: #1766dc;
}

.close-icon:hover {
  background: #f2f2f2;
}

.close-icon svg {
  height: 100%;
}

.container-info {
  padding: 10px;
}

@media screen and (max-width: 500px) {
  .modal .container {
    margin: 0 10px;
  }
}
