.categories nav {
  overflow: auto;
}

.categories ul {
  display: flex;
  flex-direction: row;
  margin-inline-start: 0;
  padding-inline-start: 0;
}

.categories ul img {
  width: 100px;
}

.categories ul li {
  cursor: pointer;
  font-weight: 500;
  list-style: none;
  margin-inline-start: 20px;
  text-align: center;
}

.categories ul li a {
  color: #000;
  text-decoration: none;
}

/*  */

.categories .button-cat {
  cursor: pointer;
}

.categories .button-cat img {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.categories .icon-image {
  width: 30px;
}

@media screen and (max-width: 690px) {
}

@media screen and (max-width: 450px) {
  .categories ul img {
    width: 70px;
  }
}
