.counter {
  margin: 10px 0;
}

.counter .counter-action {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  width: 50%;
}

.counter h6 {
  margin: 0;
}


.counter-action .counter-button {
  cursor: pointer;
}