
.hero-banner figure, .hero-profile figure {
  margin-block: 0;
  margin-inline: 0;
}

.hero-banner img {
  max-height: 350px;
  object-fit: cover;
  position: center;
  width: 100%;
}

.hero-profile img {
  background-color: blanchedalmond;
  margin-block-start: -100px;
  margin-inline-start: 10px;
  max-width: 100px;
  padding: 5px;
}