.info-header {
  align-items: center;
  display: flex;
  margin-block-end: 5px;
}

.info-header h4 {
  background-color: salmon;
  border-radius: 5px;
  color: #000;
  margin: 0 20px;
  padding: 5px;
}
