.main {
  background-color: #fff;
  margin: auto;
  max-width: 900px;
  width: 100%;
}

.title-store,
.products {
  margin: 40px;
}

@media screen and (max-width: 550px) {
  .title-store,
  .products {
    margin: 5px;
  }
}
