.product-image {
  width: auto;
}

.product-image-cart img {
  width: 10%;
}

.product-image img {
  width: 100%;
  max-width: 250px;
  /* max-height: 180px; */
  border-radius: 5px;
  object-fit: contain;
}

.product-image-modal img {
  width: 50%;
}

@media screen and (max-width: 750px) {
  .product-image {
    width: auto;
  }

  .product-image figure {
    margin: 10px;
  }

  .product-image img {
    width: 100%;
    height: auto;
  }
}
