.product-info .features,
.tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-block: 2px;
}

.product-info .feature {
  background-color: yellow;
  border-radius: 5px;
  border: 1px solid orange;
  color: #000;
  font-size: 10px;
  font-weight: bold;
  margin-block-start: 3px;
  margin-inline-end: 5px;
  margin: 0;
  padding: 5px;
  text-transform: capitalize;
}
