.footer-info {
  background-color: salmon;
  font-size: 10px;
  padding-block: 20px;
  text-align: center;
}

.footer-info a {
  color: rgb(9, 47, 65);
  text-decoration: none;
}

.footer-info a:hover {
  color: #000;
}
