@import url("https://fonts.googleapis.com/css2?family=Exo:wght@200;300;400;500&display=swap");

html {
  font-family: "Exo", sans-serif;
  scroll-behavior: smooth;
  /* content-visibility: auto;
  contain-intrinsic-size: 1px 5000px; */
  /* user-select: none; */
}

body {
  background-color: rgb(233, 230, 230);
  margin: 0 50px;
}

@media screen and (max-width: 900px) {
  body {
    margin: 0;
  }
}
